:root {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background: grey;
}

.container {
  font-family: sans-serif;
  background: rgba(0, 110, 255, 0.877);
  max-width: 500px;
  margin: 4rem auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

h1 span {
  font-size: 1rem;
  display: block;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input,
.search-form .submit-btn {
  height: 2rem;
  margin: 0.5rem;
}

.search-form .submit-btn {
  flex-shrink: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem;
}

.location {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.613);
}

.general-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.general-info img {
  width: 50px;
  height: 50px;
}

.general-info span {
  font-size: 1.5rem;
  color: rgba(149, 255, 0, 0.632);
}

.main-info span {
  font-weight: bold;
}

.other-info {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
  margin: 1rem;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
